/*fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300&family=Ubuntu:wght@300;400;500&family=Work+Sans:wght@300;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'PT Sans', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif; */
    font-weight: 600;
    background-color: #F3F1FF;
}

/* player section style */ 

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;

}
.section-title{
    color:#562eff;
    font-size: 23px;
    margin-top: 9px;
    margin-bottom: 29px;
}
.player img{
    width: 56px;
    height: 56px;

}
.top-players{
    margin-bottom: 30px;
    
}
.player{
    display: flex;
    align-items: center;

    
}
.section-heading{
    margin-left: 16px;

}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 33px;
}
main{
    display: flex;
    justify-content: center;
}


/* top blogs style start */ 

.top-blogs{
    margin-top:25px;
}
.single-blog .view img{
    width: 224px;
    height: 127px;      
}

.single-blog{
    display: flex;

}
.blog-info{
    margin-left: 20px;
}
.title-author a{
    color:#562EFF;
    text-decoration: none;
}
.all-blogs-main{
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
    grid-row-gap:10px;
}
























/* top blogs style End */ 
